.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    font-size: 18px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    display: flex;
    justify-content: center;
}

.header__logo-image {
    height: 105px;
    width: auto;
}

.address {
    font-style: normal;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.cover {
    position: relative;
    min-height: 757px;
    padding: 155px 50px 0 50px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    color: white;
    line-height: 135px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 107px;
    margin-top: 97px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    font-weight: 400;
    color: white;
}

.bet-button {
    background-color: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
    padding: 12px 32px;
}

.lots {
    margin: 180px 24px 0;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-position: center;
    background-size: cover;
    color: white;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    line-height: 26px;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-underline-offset: 5px;
}

.about {
    margin: 155px 24px 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
}

.about__column {
    grid-column: 2 / 4;
}

.about__title {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 0 50px 88px;
    font-size: 18px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
}




